@import './base.scss';

:root {
  @include theme-light;
}

.dark-theme {
  @include theme-dark;
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: $font-primary, $font-secondary;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition:
    background-color $transition-ease-in,
    color $transition-ease-in;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border-radius: $border-radius-button;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color $transition-ease-in;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-active);
  }
}
