$font-primary: 'Inter', Avenir, Helvetica;
$font-secondary: Arial, sans-serif;

$border-radius: 4px;
$transition-ease-in: 0.2s ease-in;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 150ms;

$shadow-sm: 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1);

@mixin theme-light {
  --color-primary: #5ece7b;
  --color-primary-hover: #53b56c;
  --color-primary-active: #53b56ce3;
  --color-secondary: #f1f1f1;
  --color-background: #fef7e7;
  --color-text: #333;
  --color-text-secondary: #666;
  --color-text-light: #ffffff;
  --color-header-border: #ececec;
  --color-error: #ff0000;
  --color-success: #4bb543;
  --color-info: #17a2b8;
  --color-product-card-border: #ededed;
  --color-page-background: white;
  --color-product-card-background: #fff;
}

@mixin theme-dark {
  --color-primary: #52a67a;
  --color-primary-hover: #49805e;
  --color-primary-active: #49805ed9;
  --color-secondary: #242424;
  --color-background: #121212;
  --color-text: #e0e0e0;
  --color-text-secondary: #e0e0e0db;
  --color-text-light: #ffffff;
  --color-header-border: #e0e0e0;
  --color-error: #ff6868;
  --color-success: #76c893;
  --color-info: #5bc0de;
  --color-product-card-border: #ececec;
  --color-page-background: white;
  --color-product-card-background: #fff;
}

@mixin transition-default {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: $transition-function;
  transition-duration: $transition-duration;
}
